################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Carsties/.vscode
/Carsties/src/AuctionService/bin/Debug/net7.0
/Carsties/src/AuctionService/obj
/Carsties/.vs
/Carsties/src/SearchService/obj
/Carsties/src/SearchService/bin/Debug/net7.0
/Carsties/src/Contracts/obj
/Carsties/src/Contracts/bin/Debug/net7.0
/Carsties/src/IdentityService/obj
/Carsties/src/IdentityService/bin/Debug/net7.0
/Carsties/src/GatewayService/obj
/Carsties/src/GatewayService/bin/Debug/net7.0
